footer {
    background-color: $color-background-footer;
    padding: 25px;
}

.logoTitle--footer {
    text-align: left;
    margin: 0 0 20px 0;
}

.footer__typo li {
    margin: 0 0 8px 0;
}