.form {
    input {
        appearance: none;
        border: none;
        background-color: inherit;

        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        @include typo--color($color-background-section);
    }
    &__position {
        background-color: darken($color-background-section, 2);
        width: auto;
        text-align: center;
            
        &__edit {
            position: relative;
            background: $color-background-positionEdit;
            top: 0;
            left: 0;
            width: 100%;
            padding: 15px;
            box-shadow: 0px 10px 10px -10px darken($color-background-positionEdit, 20) inset;
            @include miniMobile330 {
                margin: 0;
            }
        }
    }  
}

