.header {
    &__logoPositionHome {       
        text-align: center;
    }
    &__logoPositionMenu {
        margin: auto;
    }
}

.logoTitle--header {        //.logoTitle in _typography.scss for font-style
    margin: 10px 0;
}

.toMenu {
    margin: 20px;
    position: absolute;
}