.card {
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 20px;
    background-color: $color-background-card;
    margin: 20px 20px 20px 0;
    box-shadow: 5px 5px 10px #e3e3e3;
    flex: 1 1 auto;

    &__image--frame {
        height: 220px;
        width: 100%;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
    }
    &__image--adapt {
        position: relative;
        margin: auto;
        width: 100%;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    &__detail {  
        line-height: 25px;
        padding: 15px 20px 15px 20px;
    }
    &__new {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        border: none;
        padding: 8px 15px 8px 15px;
        border-radius: 3px;
        background-color: $color-tertiary;
        color: darken($color: $color-tertiary, $amount: 40);
        font-size: 14px;
        font-weight: 600;
    }
}

.cardMenu {
    
    &__content {
        flex-direction: column;
        position: relative;
        
        &--padding {
            padding: 0;
        }
    
        &:hover {
            color: inherit;
            .cardMenu__item {
                transform: translateX(-60px);
            }
        }
    }
}

.appearance {
    opacity: 0;
    
    &--delay0 {
        animation: Appearance 1s 0ms forwards;
    }
    &--delay1 {
        animation: Appearance 1s 200ms forwards;
    }
    &--delay2 {
        animation: Appearance 1s 400ms forwards;
    }
}