.icon {
    &--active {
        color: $color-primary;
    }
    &__heart {   
        &--unlock {
            position: relative;
        }

        &--lock {
            opacity: 0;      
            color: $color-secondary;
          

            // transform-origin: ;

            /* test 2 pour coeur dégradé */
            // content: "";
            // position: absolute;
            // top: 0;
            // right: 0;
            // bottom: 0;
            // left: 0;
            // background-color: $color-heart-active;
            // opacity: 0;
            // z-index: -1;
            // transition: opacity 250ms;

            /* test 1 pour coeur avec couleur dégradé */
            // background: linear-gradient(170deg, $color-secondary, $color-primary);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            
            
            &Menu {
                position: absolute;
                top: 9px;
                right: -3px;
                bottom: 0;
                left: 0px;
            }
        }

        &:hover { 
            .icon__heart--lock {
                opacity: 1;
                animation: progressHeart $time-appearance both;  
            }
        }
        &--homePosition {
            position: absolute;
            right: 0px;
            margin: -5px 30px;
        }
        &--menuPosition {
            position: absolute;
            right: 0px;
            top: 40px;
            margin: 0px 10% 0 0 ;
        }
    }
    &__mealChecked {
        position: relative;
        align-items: center;
        justify-content: center;
        top: 50%;
        animation: Rotate calc($time-appearance/2) forwards;
    }
    &__footer {
        margin: 0 10px 0 0;
        align-self: center;
    }
}




/* test 3 pour coeur avec couleur dégradé */
// .heart {
//     &::after {
//         font-family: $font-icone;
//         content: '\f004';
//         font-size: 1.5em;
//         -webkit-text-stroke: 1px black;
//         -webkit-text-stroke-color: black;
//         background-color: white;
//         background-image: $color-heart-active;
//         -webkit-background-clip: text;
//                 background-clip: text;
//         -webkit-text-fill-color: $color-background-card;        
//     }
//     &:hover::after {
//         -webkit-text-stroke: 0px;
//         -webkit-text-fill-color: transparent;
//         animation: progressHeart $time-appearance both;
//     }
//