.icon {
    &--active {
        color: $color-primary;
    }
    &__heart {
        position: relative;
        &--unlock {
            position: relative;
        }         
        &--lock {
            position: absolute;
            top: -10px;
            opacity: 0;      
            width: 24px; 
            height: 24px; 
            background: $color-heart-active;
            clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");  
            
            &Menu {
                position: absolute;
                top: -3px;
                right: 0px;
                bottom: 0;
                left: 0px;
                width: 24px;
            }
        }
        &:hover { 
            .icon__heart--lock {
                opacity: 1;
                animation: progressHeart $time-appearance both;  
            }
        }
        &--homePosition {
            position: absolute;
            right: 0px;
            margin: -5px 30px;
        }
        &--menuPosition {
            position: absolute;
            right: 0px;
            top: 40px;
            margin: 0px 10% 0 0 ;
        }
    }
    &__mealChecked {
        position: relative;
        align-items: center;
        justify-content: center;
        top: 50%;
        animation: Rotate calc($time-appearance/2) forwards;
    }
    &__footer {
        margin: 0 10px 0 0;
        align-self: center;
    }
}
