*
{
    box-sizing: border-box;
}

.block
{
    display: block;
}

.flex
{
    display: flex;
}

a
{
    color: inherit;
    text-decoration: none;
}

.icon
{
    &--active
    {
        color: $color-primary;
    }
}