.location {
    background-color: $color-background-section;

    &__icon {
        color: black;
        margin: 0 5px 0 -10px;
        text-align: center;
    }
}

.description {
    padding: 60px 5% 60px 5%;
    text-align: center;
    
    &--titleMargin {
        margin-bottom: 15px;
    }
    &--descriMargin {
        margin-bottom: 40px;
    }
    &--typo {
        color: #7b7b7b;
    }
}

.section--background {
    background-color: $color-background-section;
}