.location
{
    background-color: $color-background;

    &__icon
    {
        color: black;
        margin: 0 15px 0 0;
    }
}

.position
{
    background-color: darken($color-background, 2);
    width: auto;
    padding: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px -10px darken($color-background, 20) inset;
}

.description
{
    padding: 60px 5% 60px 5%;
    text-align: center;
    
    &--titleMargin
    {
        margin-bottom: 15px;
    }

    &--descriMargin
    {
        margin-bottom: 40px;
    }
    &--typo
    {
        color: #7b7b7b;
    }
}

.section--background
{
    background-color: $color-background;
}