//Color lightening
@mixin color--active($color: $color-primary) 
{
    $color: rgba($color, 0.3);
    $color: lighten($color, 25);
    background-color: $color;
}

//Color inversion
@mixin typo--color($color: $color-background-body) 
{
    @if (lightness($color) < 50%) 
    {
        $color: white;
    } @else {
        $color: black;
    }
    color: $color;
}

//Position 0 0 0 0
@mixin pseudo-element {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2.1px;
    width: 110%;
}

//Media Query
@mixin desktop {
    @media all and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin tablet {
    @media all and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin mobile {
    @media all and (min-width: map-get($breakpoints, mini-mobile-500)) and (max-width: map-get($breakpoints, mobile)) {
        @content
    }
}

@mixin miniMobile500 {
    @media all and (max-width: map-get($breakpoints, mini-mobile-500)) {
        @content;
    }
}

@mixin miniMobile400 {
    @media all and (max-width: map-get($breakpoints, mini-mobile-400)) {
        @content;
    }
}

@mixin miniMobile330 {
    @media all and (max-width: map-get($breakpoints, mini-mobile-330)) {
        @content;
    }
}